{% extends 'base/layout.html' %}

{% block content %}
    <div class="container">
        <div>&nbsp;</div>
        <div class="row">
            
            <div class="col s6">
                <div class="card horizontal hoverable" style="cursor: pointer;">
                    <div class="card-image" style="background: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/tnc_16935516.jpg?crop=0,432,7360,4048&wid=4000&hei=2200&scl=1.84'); min-width: 150px; min-height: 150px; background-size: cover;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                        <span class="card-title">title</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit in repellat dolore. Nobis quisquam.</p>
                        </div>
                        <div class="card-action">
                            <span class="right grey-text text-lighten">Dec 12, 2018</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card horizontal hoverable" style="cursor: pointer;">
                    <div class="card-image" style="background: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/tnc_16935516.jpg?crop=0,432,7360,4048&wid=4000&hei=2200&scl=1.84'); min-width: 150px; min-height: 150px; background-size: cover;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                        <span class="card-title">title</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit in repellat dolore. Nobis quisquam.</p>
                        </div>
                        <div class="card-action">
                            <span class="right grey-text text-lighten">Dec 12, 2018</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card horizontal hoverable" style="cursor: pointer;">
                    <div class="card-image" style="background: url('https://natgeo.imgix.net/factsheets/thumbnails/01-balance-of-nature.adapt.jpg?auto=compress,format&w=1600&h=900&fit=crop'); min-width: 150px; min-height: 150px; background-size: cover;"></div>
                    <div class="card-stacked">
                        <div class="card-content">
                        <span class="card-title">title</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit in repellat dolore. Nobis quisquam.</p>
                        </div>
                        <div class="card-action">
                            <span class="right grey-text text-lighten">Dec 12, 2018</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}